params {
    sample_table = "${projectDir}/supplement/tables/submission_sample_table/sample_table.csv"

    outdir = './nfoutput'

    pbspdb = "https://github.com/PacificBiosciences/pb-StarPhase/raw/refs/tags/v2.1.0/data/v2.0.0/pbstarphase_20251106.json.gz"

    bed_filter = "/home/anthony/data/2025-12-15_HPRC_PGx_LRS/data/bed/pgx_regions/pgx_regions.bed"

    vcf = "s3://human-pangenomics/pangenomes/scratch/2025_02_28_minigraph_cactus/hprc-v2.0-mc-grch38/hprc-v2.0-mc-grch38.wave.vcf.gz{,.tbi}"

    genomes {
        'GRCh38' {
            db = '/mnt/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/'
            fasta = 'human_GRCh38_no_alt_analysis_set.fasta'
        }
    }
}

aws {
    region = 'us-east-1'  // The human-pangenomics bucket is in us-east-1
    client {
        anonymous = true
    }
}

conda {
    enabled = true
    cacheDir = "${launchDir}/.nextflow/conda_envs"
}

dag.overwrite = true
report.overwrite = true
trace.overwrite = true
timeline.overwrite = true